.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* not needed for in this context
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.banner-class{
  min-height: 25vh;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.banner-class .image-div {
  width: 14vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
 }
 
 .banner-class .content-div {
  flex: 2;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
 }

 .banner-class img {
  max-width: 100%;
  height: auto;
}

.property-block{
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px;
  margin: 10px;
  width: 95vw;
  display: flex;
  justify-content:space-between;
}

.property-name{
  text-align: left;
  flex: 1;
}
.property-description{
  text-align: left;
  flex: 4;
  white-space: normal;
  padding: 1px 125px 1px 125px;
}

.filter-class{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 95vw;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* not needed for this context
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
